@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700;900&display=swap");

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
}
